@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');


/*  */
*{
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #fffdfa;
}
main{
    min-height: 100vh;
    padding-top: 2.5rem;
}


/* Header Styling */
header{
    margin: 0px;
    padding: 2.5rem 0px;
    margin: 2.5rem 0px;    
}
nav{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px;
}
.nav-btn{
    border: none;
    padding: 0px;
}
nav ul{
    margin-bottom: 0px;
    text-align: right;
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 2rem;
}
#MenuBar{
    padding: 12px;
    max-width: 75vw !important;
}
.btn-close{
    background-size: contain;
    background-blend-mode: darken;
    height: 1rem;
    width: 1rem;
    opacity: 1;
}
.btn-close:focus{
    box-shadow: none;
}
nav a{
    color: #5d5f79;
    text-decoration: none;
    transition: color 0.4s;
}
nav a:hover{
    cursor: pointer;
    color: #f15e50;
}
.navbar-toggler{
    display: none;
    border: none;
}
.navbar-toggler-icon{
    opacity: 1;
    transform: scaleX(1.5) scaleY(.8);
}
.navbar-toggler:active, .navbar-toggler:hover, .navbar-toggler:focus{
    box-shadow: none;
    border: none;
}




/* Hero Area */
[hero]{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.pho{
    display: none;
}
.hero-btn{
    font-weight: 400;
    letter-spacing: 4px;
    padding: 1em 2em;
    text-transform: uppercase;
    background-color: #f15e50;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s;
}
.hero-btn:hover{
    cursor: pointer;
    color: white;
    background-color: #00001a;
    text-decoration: none;
}
.hero{
    max-width: 65%;

}
.hero .h1{
    font-size: 4rem;
    color: #00001a;
}
.hero img{
    width: 100%;
}
.txt1{
    padding: 2rem 0px;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}
.read-more{
    color: #5d5f79;
}
.hero .txt1 h1{
    font-weight: 800;
}
.hero-side{
    padding: 1rem;
    background-color: #00001a;
    color: white;
}
.hero-side p{
    color: #c5c6ce;
    font-size: 1.2rem;
}
.hero-side h1{
    padding: 1rem 0px;
    color: #e9ab53;
    font-weight: 700;
}
.hero-side h4{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s;
}
.hero-side a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}
.hero-side h4:hover{
    cursor: pointer;
    color: #e9ab53;
    text-decoration: none;

}
[lists]{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.list a:hover{
    cursor: auto;

}

/* the rest */
[rest]{
    padding: 2.5rem 0px;

}
[rest] h2{
    font-size: 2.5rem;
    color: #c5c6ce;
    font-weight: 700;
}
[rest] h5{
    color: #00001a;
    font-weight: 700;
    transition: color 0.5s;
}
[rest] h5:hover{
    cursor: pointer;
    color: #f15e50;
}
[rest]>div{
    display: flex;
    gap: 1rem;
    align-items: flex-end;

}
[rest] img{
    
    max-width: 30%;
}
/* footer */
footer{
    font-size: 1.2rem;
    min-width: 100%;
    text-align: center;
    color: #00001a;
    padding: 2rem 0px;
}
footer a{
    text-decoration: none;
    font-weight: 600;
    color: #5d5f79;
}
footer a:hover{
    text-decoration: none;
    color: #f15e50;
}

@media (max-width: 1000px){
    .navbar-toggler{
        display: block;

    }
    nav.col{
        display: none;
    }
    body{
        margin: 0px 2px ;
    }
    main{
        padding-top: opx;
    }
    /* hero */
    [hero]{
        flex-direction: column;
    }
    .pho{
        display: block;
    }
    .lap{
        display: none;
    }
    .hero{
        max-width: 100%;
    }
    .txt1{
        display: flex;
        flex-direction: column;
    }

    /* rest */
    [rest]{
        flex-direction: column;
        gap: 1rem;
    }
    [rest] h2{
        font-size: 1.5rem;
    }
    [rest] h5{
        font-size: 1rem;
    }
    [rest] p{
        font-size: 0.9rem;
    }

}